<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ua.com.crosp.solutions.hearthealthmonitor">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true"/>

    <application
        tools:replace="android:allowBackup"
        android:name=".application.HeartMonitorApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/ApplicationMainTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <!--Activities-->
        <activity
            android:name=".module.start.routing.StartActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/ApplicationMainTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".module.modeslist.routing.ModesActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/ApplicationMainTheme.NoActionBar"/>
        <activity
            android:name=".module.motivationmode.psychoemotional.routing.PsychoEmotionalActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/ApplicationMainTheme.NoActionBar"/>
        <activity
            android:name=".module.motivationmode.rest.routing.RestModeActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/ApplicationMainTheme.NoActionBar">

        </activity>
        <activity
            android:name=".module.usersettings.routing.UserSettingsActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/ApplicationMainTheme.NoActionBar">

        </activity>
        <activity
            android:name=".module.motivationmode.physicalactivity.routing.PAActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/ApplicationMainTheme.NoActionBar"/>
        <activity
            android:name=".module.appsettings.routing.AppSettingsActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/ApplicationMainTheme.NoActionBar"/>
        <activity
            android:name=".module.experimentresults.routing.ExperimentResultsActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/ApplicationMainTheme.NoActionBar"/>
        <activity
            android:name=".module.ecgsignal.routing.EcgConnectionActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/ApplicationMainTheme.NoActionBar"/>
        <activity
            android:name=".module.ecgsignal.routing.EcgRealtimeActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="landscape"
            android:theme="@style/ApplicationMainTheme.NoActionBar"/>
        <activity
            android:name=".module.experimentresults.routing.EcgResultActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="landscape"
            android:theme="@style/ApplicationMainTheme.NoActionBar"/>
        <!--Services-->
        <service
            android:name=".module.ecgsignal.service.ECGProcessingRecordingService"
            android:exported="false">
            <intent-filter>
                <action android:name="ua.com.crosp.solutions.hearthealthmonitor.action.ecgrecording.start"/>
                <action android:name="ua.com.crosp.solutions.hearthealthmonitor.action.ecgrecording.stop"/>
                <action android:name="ua.com.crosp.solutions.hearthealthmonitor.action.ecgrecording.close"/>
                <action android:name="ua.com.crosp.solutions.hearthealthmonitor.action.ecgrecording.startrecording"/>
            </intent-filter>
        </service>

    </application>

</manifest>